# Supabase
[api]
enabled = true
port = 54321

[db]
port = 54322

[studio]
enabled = true
port = 54323

[inbucket]
enabled = true
port = 54324

[auth]
enabled = true
site_url = "http://localhost:3000"

[auth.email]
enable_signup = true
enable_confirmations = false

# Edge Functions
[functions.slack-no]
verify_jwt = false

[functions.slack-no-interactions]
verify_jwt = false

[functions.slack-no-update-reasons]
verify_jwt = false